

/*webfont start*/

@font-face {
    font-family: 'HankenGrotesk';
    src: url(HankenGrotesk-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HankenGrotesk';
    src: url(HankenGrotesk-ExtraBold.ttf);
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'HankenGrotesk';
    src: url(HankenGrotesk-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}







/*webfont end*/





*{
    padding: 0;
    margin: 0;
    font-family: 'HankenGrotesk';
}

body{ 
  display: grid;
  place-content: center;  
  grid-template-columns: 368px 368px; 
  grid-template-rows: 100px;
  grid-column-gap: 0px; 
}

.main{
    background-image: linear-gradient( hsl(252, 100%, 67%) , hsl(241, 81%, 54%));
    width: 368px;
    margin-top: 20%;
    border-radius: 25px;
      height: 486px;
    display: inline-block;
  
    

}

.main .score{
   display: grid;
   place-content: center;
   background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
   height: 180px;
   border-radius: 180px;
   width: 180px;
   margin-top: 10%;
   position: relative;
   margin-left: 25%;
  
   
}

#finalscore{

   font-size: xxx-large;
   color: white;
   font-weight: bolder;
 
}

.main .yourResult{

    color: hsl(241, 100%, 89%);
    font-size: larger;
    margin-left: 35%;
    margin-top: 5%;
   
}


.main .score .of100{
    color: hsl(241, 100%, 89%);
}

.main .msg{
    margin: auto;
    margin-top: 10%;
    font-size:  30px;
    font-weight: bolder;
    color: white;   
    text-align: center;

}

.main .text{
    color: hsl(241, 100%, 89%);
    width: 220px;
    height: 3px;
    text-align: center;
    margin:auto;
    margin-top: 10px;


}


.summary{
    background-color: white;
    width: 368px;
    margin-top: 20%;
    border-radius: 25px;
    height: 486px;
    

    
     
 
}


.summary h2{
    color : hsl(224, 30%, 27%);
    padding: 15px 10px;
    
}



.summary .container{
 
    display: grid;
}


.summary .container .details{
    
   
    display: inline;
    margin-top: 0px;
    height:  15px;
    padding-left: 20px;
    margin-top: 40px;

    
}

.summary .details .topic{
    display: inline;
  
    
    font-weight: bolder;
    margin-left: 15px;
 
}

.summary .details #reaction{
   color: hsl(0, 100%, 67%);
}

.summary .details #memory{
    color: hsl(39, 100%, 56%);
 }


 .summary .details #verbal{
    color: hsl(166, 100%, 37%);
 }

 .summary .details #visual{
    color:  hsl(234, 85%, 45%);
 }



.summary .details .number{
    display: inline;
    padding-left: 25px;
    font-weight: bolder;
    color:hsl(224, 30%, 27%);
    
}

.summary .details .percentage{
    display: inline;
    color:hsl(241, 100%, 89%);
}


button{
    border: none;
    border-radius: 30px;
    color: white;
    background-color: hsl(224, 30%, 27%);
    cursor: pointer;
    height: 56px;
    width: 288px;
    margin-top: 60px;
    margin-left: 35px;
}

button:active{
    background-image: linear-gradient( hsl(252, 100%, 67%) , hsl(241, 81%, 54%));

    
}